@using SchoolControl.Core.Dtos
@model IEnumerable<PeriodDto>

@{
    ViewBag.Title = "Usuarios";
}

<div class="container">

    <div class="card mt-5">
        <div class="card-header">
            <h2>Lista de usuarios</h2>
        </div>
        <div class="card-body">
            <p>
                <a asp-action="Create">
                    <i class="align-middle" data-feather="plus-circle"></i>
                    <span class="align-middle">Agregar nuevo</span>
                </a>
            </p>
            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateStart)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateEnd)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateStart)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateEnd)
                        </th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateStart)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateEnd)
                            </td>
                            <td>
                                @* <a href="~/Projects/Details/@item.Id" class="btn btn-info text-white">
                                    <i class="align-middle" data-feather="clipboard"></i>
                                    <span class="align-middle">Detalles</span>
                                    </a> *@

                                <a href="~/Periods/Edit/@item.Id" class="btn btn-warning text-white">
                                    <i class="align-middle" data-feather="edit"></i>
                                    <span class="align-middle">Editar</span>
                                </a>

                                @* @if (ViewBag.IsActivate)
                                    {
                                    <a href="~/Projects/Delete/@item.Id" class="btn btn-danger">
                                    <i class="align-middle" data-feather="delete"></i>
                                    <span class="align-middle">Borrar</span>
                                    </a>
                                    }else{
                                    <a href="~/Projects/Activate/@item.Id" class="btn btn-success">
                                    <i class="align-middle" data-feather="check-circle"></i>
                                    <span class="align-middle">Activar</span>
                                    </a>
                                    } *@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer"></div>
    </div>
</div>

@section Scripts {
<!-- ============================================================
    =ESTILOS PARA USO DE DATATABLES JS
    ===============================================================-->
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.0/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">

<!-- ============================================================
    =LIBRERIAS PARA USO DE DATATABLES JS
    ===============================================================-->
<script src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>

<script src="/js/users.js"></script>
}